
.footer-content div {
  text-align: center;
  margin-bottom: var(--pico-block-spacing-vertical);
}

.not-by-ai-image {
  text-align: right;
}

a code {
  color: var(--pico-primary);;
}

a:hover code {
  text-decoration: underline;
}
