
.footer-content div {
  text-align: center;
  margin-bottom: var(--pico-block-spacing-vertical);
}

.markdown-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a code {
  color: var(--pico-primary);;
}

a:hover code {
  text-decoration: underline;
}
